@font-face
{
	font-family: OpenSans-Bold;
	src: url("../open-sans/OpenSans-Bold.ttf");
}

@font-face
{
	font-family: OpenSans-Regular;
	src: url("../open-sans/OpenSans-Regular.ttf");
}

section {
	width: 998px;
	height: 800px;
	border-radius: 7px;
	margin: 10px auto;
	padding: 5px;
	background-color: white;  
}

	#exchange_values {
		width: 900px;
		height: 20px;
		margin: 10px;
	}
	
	#left_section {
		float: left;
		width: 680px;
	}
	
	#right_section {
		float: left;
		width: 282px;
		margin-left: 30px;
	}
	
	#login_div {
		margin-left: 10px;
		border: 1px solid #D5D5D5;
		float: left;
		width: 240px;
		background-image: linear-gradient(to bottom, #F1F5F6, #EFF0F0);
		border-radius: 5px;
		height: 182px;
	}
	
	#login_div table {
		width: 100%;
		border-spacing: 0px;
		font-family: OpenSans-Bold;
		/* padding: 35px; */
	}
	
		#login_div thead {
			text-align: center;
		}
		
		#login_div tbody {
			border-top: 1px solid #EAEFEF;
			display: block;
			font-size: 12px;
			padding: 10px 15px 10px 15px;
		}
		
			#login_div thead td{
				padding: 6px;
			}
			
			#login_div #pass_label{
				padding-top: 6px;
			}
		

	
	
		#login_div #buttons {
			float: right;
		}
	
	section #img {
		width: 600px;
		height: 300px;
	}
	
	#currency_table {
	/* float: right; */
		border-bottom: 1px solid #D5D5D5; 
		border-spacing: 0px;
		background-color: #2E3F51;
		background-image: linear-gradient(to bottom, white, #EFF0F0);
		font-family: OpenSans-Bold;
		margin: 10px;
	}
	
	#currency_table .table_title {
		background-color: #2E3F51;
		color: white;
	}
	
		#currency_table .table_title td{
			background-color: #2E3F51;
			color: white;
			border-top-right-radius: 5px;
			border-top-left-radius: 5px;
			padding: 6px;
			font-size: 15px;
		}
	
	#currency_table .table_header {
		background-color: #D5D5D5;
		color: black;
		font-size: 14px;
	}
	
		#currency_table tbody {
			font-family: OpenSans-Regular;
			font-size: 13px;		
		}
	
		#currency_table tbody tr:hover {
			background-color: #D5D5D5;		
		}
		
		#currency_table tbody td {
			border-top: 1px solid #D5D5D5;				
		}
			
		#currency_table td {
			padding: 5px 8px 5px 8px;
		}
		
		#currency_table .cell0 {
			border-left: 1px solid #D5D5D5;
			font-family: OpenSans-Bold;
		}
		
		#currency_table .cell1 {
			font-family: OpenSans-Bold;	
			width: 60px;		
		}
		
			#currency_table .cell1 img {
				padding-left: 2px;	
			}
		
		#currency_table .cell6 {
			border-right: 1px solid #D5D5D5;
		}
		
		#currency_table .last_row {
			border-bottom: 1px solid #D5D5D5;
		}
	
	
	
	